<!doctype html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>我的票夹</title>
    <link rel="stylesheet" href="/static/user/css/ticket.css">
</head>
<body>
<script src="/static/user/js/jquery-1.8.3.min.js"></script>
<script src="/static/user/js/bootstrap.min.js"></script>
<script src="/static/user/js/bootstrap.min.css"></script>
    <div class="total">
        <div class="head">
            <h2><img src="/static/user/images/detail.jpg" width="50" height="50"><b>&nbsp;个人中心</b></h2>
            <ul>
                <li><a href="{:url('personal/index')}" style="color:white"> 我的首页 </a></li>
                <li><a href="{:url('bookshlef/index')}" style="color:white"> 我的书架 </a> </li>
                <li><a href="" style="color:white"> 消息中心 </a></li>
                <!--<li><a href="" style="color:white"> 游戏 </a></li>-->
            </ul>

            <h5>首页&nbsp;</h5>
            <h5>书友:</h5><h5>{$name}</h5>
        </div>
        <div class="substance">
            <div class="subleft">
                <ul class="submit1">
                    <li> <a href="{:url('personal/index')}" > 首页 </a> </li>
                    <li> <a href="" > 账务中心 </a> </li>
                    <li> <a href="{:url('personal/ticket')}" > 我的票夹 </a></li>
                    <li> <a href="{:url('personal/review')}" > 我的书评 </a></li>
                    <li> <a href="{:url('personal/safe')}" > 安全中心 </a></li>
                    <li> <a href="{:url('bookshlef/index')}" > 我的书架 </a></li>
                </ul>
            </div>

            <div class="qdp-content" data-l1="3">
                <h2 class="qdp-title">我的票夹</h2>
                <div class="piaojia-month" data-l2="3">
                    <h3 class="month-ticket">月票</h3>
                        <div class="month-wrapper">
                            <div class="piaojia-title">月票</div>
                            <div><a href="#">获得月票</a></div>
                        </div>
                        <div class="piaojia-tips">
                            <p>为喜爱的作品投月票，可支持其在月票榜上获得名次。升级成为会员，可通过订阅或打赏获赠月票。</p>
                        </div>
                </div>



                <div class="qdp-record piaojia-record" data-l2="3">
                    <div id="tabView" class="ui-tab-tabs">
                        <a href="javascript:;" class="checked" data-rel="tabTarget1" data-eid="qd_M62">投月票记录</a>

                    </div>
                    <div class="ui-tab-contents">
                        <div id="tabTarget1" class="ui-tab-content checked" data-l3="9">
                            <div class="table-msg">本月累计投出月票<b class="table-outstd">{$sum}</b>次</div>
                            
                            <div id="tableTarget1" class="table-x piaojia-month-table">
                                <div class="table-size ui-loading-animation" style=" ">
                                    <table class="ui-table">
                                        <thead>
                                          <tr>
                                            <th scope="col" width="180">投票时间</th>
                                            <th scope="col" width="100">票数</th>
                                            <th scope="col" width="150">投票小说</th>
                                            <th scope="col">操作</th>
                                          </tr>
                                        </thead>
                                        {foreach name="list" item="k" key="v"}
                                        <tr>
                                            <td>{$k.time|date="Y-m-d H:i:s",###}</td>
                                            <td>{$k.ticket}</td>

                                            <td>{$bname[$v]}</td>

                                            <td><a href="">投票</a></td>
                                        </tr>
                                        {/foreach}
                                    </table>
                                    {$page}


                                    <div class="table-null-x dn" style="display: block;"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="footer">
            <div class="contain">
                <div class="containOne clearfix">
                    <div class="oneLeft">
                        <a href="#" title="">关于我们</a>
                        <span>|</span>
                        <a href="#" title="">联系我们</a>
                        <span>|</span>
                        <a href="#" title="">投稿声明</a>
                        <span>|</span>
                        <a href="#" title="">版权声明</a>
                    </div>
                    <div class="oneRight">
                        霜之哀伤文学信息技术有限公司&nbsp;&nbsp;&nbsp;版权所有
                    </div>
                </div>
                <div class="containTwo clearfix">
                    <div class="twoLeft">
                        为保证更好的浏览效果，请使用IE9以上或其他主流浏览器访问
                    </div>
                    <div class="twoRight">
                        <a href="#" title="">粤ICP备13078413号-6</a>
                        <span>增值电信业务许可证网络文化经营许可证</span>
                        <span>粤B2-20130742</span>
                        <span>粤网文[2014]0424-124号</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>