{extend name='author/index'}
{block name="main"}
<form action="/admin/category/save" method="post">
    <div class="container">
        <div class="col-md-6 h2">
            <ul class="list-group h4">
                分类名:<input type="text" name="name">
                <hr>
                所属类:
                <input type="text" name="pid">
                <p>{volist name="arr" id="v"}
                {$v['id']}-{$v['name']}
                {/volist}
                <hr></p>
                隐藏/显示:<label><input type="radio" name="display" value=1 checked>显示</label>
                <label><input type="radio" name="display" value=2 >隐藏</label>
            </ul>
            <button class="btn btn-danger btn-lg del-btn">保存</button>
        </div>
    </div>
</form>
{/block}
{block name="myjs"}{/block}