<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>霜之哀伤文学注册页</title>
    <meta name="keywords" content="霜之哀伤文学，小说，小说网,言情小说,青春小说,玄幻小说,武侠小说,都市小说,历史小说,网络小说,小说下载，原创网络文学,畅销图书,精品图书,传统出版,电子书，原创文学" />
    <meta name="description" content="霜之哀伤文学提供免费小说,热门小说,精品小说,好看小说,小说连载,小说排行榜,小说在线阅读,小说下载,尽请浏览霜之哀伤文学各种玄幻小说,都市小说,言情小说,穿越小说,青春小说,武侠小说,历史小说,军事小说,科幻小说,灵异小说,游戏小说,竞技小说,同人小说,2016全新登场,手机下载阅读,电子书,效果更佳" />
    <link rel="shortcut icon" href="/static/index/images/9dfedc665fe4d4a759d61106128d1cec.jpg" type="image/x-icon">
    {css href="/static/index/css/style-c4460f1fb4_1.css"}
    <!--{css href="/static/index/css/style-c4460f1fb4.css"}-->
    {css href="/static/index/iconfont/iconfont.css"}

</head>

<body class="topline">
<div id="msg" style="display: none" class="ui-widget">
    <h4>sddfdsfsd</h4>
</div>
<div id="verifyMsg" style="display: none" class="ui-widget">
    <div>
        <div>
            <p>【霜之哀伤文学作者注册协议】</p>

            <p>霜之哀伤文学，即霜之哀伤文学，是霜之哀伤移动事业群旗下的中文原创阅读网站平台，平台的所有人及经营者为广州霜之哀伤文学信息技术有限公司。
                当用户注册霜之哀伤文学（以下称“本站”）的作者时，请您务必仔细阅读并确保您已经理解且同意以下条款：
            </p>

            <p> 一、作者注册</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 、请严格按照本站公布和提示的规则、流程进行作者注册操作。注册成为本站作者后，您有义务妥善保存您的作者账号和密码，并对您的账号进行的所有活动和行为负法律责任。如因您自身行为（包括但不限于转让账号、与他人共用、自己泄露等）或您所用计算机感染病毒或木马，导致账号密码泄漏、遗失或其他损失后果应由您自行承担，本站不承担任何法律责任。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 、您需要准确、完整、真实地填写各项注册信息，并对填写内容的真实性承担保证责任；如本站发现您的注册填写信息存在虚假、捏造情形的，本站有权删除、冻结您账号以及账号下发表的内容，或限制部分账号功能的使用。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3、注册成为本站作者后，即表示您同意授权本站在所属网站平台发表、上传、下载、排版、宣传您的作品，以及本站合作伙伴在本站所获授权范围内使用您作品的公众阅读章节。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4 、作者的笔名、个人介绍等作者信息，不得含有违反国家法律、社会公德及本站规定的文字，否则本站有权随时无条件删除作者账号及其账号下发表的任何内容，且不对上述处理行为进行事前或事后通知。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5 、为有效利用网站资源，如作者注册后30天内未上传发表任何作品文字，或清空、锁定所有作品章节达7天，或声明离开本站的，本站有权选择无条件删除此作者账号及其账号下发表的任何内容，且不对上述处理行为进行事前或事后通知。</p>
        </div>
        <div className="info-onchange-margin">
            <div class="readbox" id="readbox">
                <label class="ant-checkbox-wrapper">
                                    <span class="ant-checkbox">
                                        <span class="ant-checkbox-inner"></span>
                                        <input type="checkbox" class="ant-checkbox-input" />
                                    </span>
                    <span>我已查看并了解</span>
                </label>
            </div>
        </div>
        <button type="button" class="ant-btn ant-btn-primary ant-btn-lg readbtn">知道了</button>
    </div>
</div>
<div class="signUpPage">
    <div class="wrapper">
        <div class="loginwrap">
            <div class="loginbox">
                <div>
                    <div class="entrance" style="opacity: 1; visibility: visible; transform: translateX(0px);">
                        <a href="javascript:history.go(-1)">返回&gt;&gt;</a>
                    </div>
                    <div class="logininput" style="opacity: 1; visibility: visible; transform: translateX(0px);">
                        <h1 class="logo">
                            <img src="/static/index/picture/logo.png" width='360px' height='60px' style="margin-left:-50px;margin-top:-30px;">
                        </h1>
                        <div class="uniqueVerify">
                            <form class="ant-form ant-form-horizontal" action="1.php" method="post" onsubmit="return ckForm()" name="regiForm">
                                <div class="ant-row ant-form-item">
                                    <div class="ant-col-6 ant-form-item-label">
                                        <label class="">手机号</label>
                                    </div>
                                    <div class="ant-col-12">
                                        <div class="ant-form-item-control ">
                                            <span class="ant-input-wrapper">
                                                <input type="text" class="ant-input ant-input-lg phoneVerifyStyle" placeholder="请输入手机号" id="validating" value="">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="yzcode">
                            <label>验证码：</label>
                            <input type="text" class="vodevalue" placeholder="请输入验证码">
                            <div class="couterDiv"><div>
                                <input type="button" id="verifyCode" class="getcodebtn___1klXT" value="点击获取"></div>
                            </div>
                        </div>
                        <div class="zcpwd mrgT">
                            <label>密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
                            <input type="password" class="userPassword" placeholder="请输入密码">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </div>
                        <div class="zcpwd mrgT">
                            <label>确认密码：</label>
                            <input type="password" class="userPassword userPasswordRe" placeholder="请再次输入密码">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </div>
                        <div class="remember mrgT">
                            <label class="ant-checkbox-wrapper">
                                    <span class="ant-checkbox">
                                        <span class="ant-checkbox-inner"></span>
                                        <input type="checkbox" class="ant-checkbox-input" alue="on">
                                    </span>
                                <span>
                                        <span>我已阅读<a id="verifyXy">霜之哀伤账号服务协议</a></span>
                                    </span>
                            </label>
                        </div>
                        <button disabled id="signUp" type="button" class="ant-btn  ant-btn-primary disabled ant-button-sq">
                            提交注册
                        </button>
                    </div>
                </div>
            </div>
            <div class="bottomTextOuter___Vf6Bt">
                <div class="bottomText___1GSrB">
                    <span>©广州霜之哀伤文学信息技术有限公司2015</span>&nbsp;&nbsp;&nbsp;
                    <span><a href="http://www.aliwx.net/about.php">关于我们</a></span>
                    &nbsp;&nbsp;&nbsp;
                    <span>|</span>&nbsp;&nbsp;&nbsp;
                    <span><a href="http://www.aliwx.net/contribute.php">投稿声明</a></span>&nbsp;&nbsp;&nbsp;<span>|</span>&nbsp;&nbsp;&nbsp;<span><a href="http://www.aliwx.net/copyinfo.php">版权声明</a></span>&nbsp;&nbsp;&nbsp;<span>|</span>&nbsp;&nbsp;&nbsp;<span><a href="http://www.aliwx.net/contact.php">联系我们</a></span></div></div></div></div></div>
</body>

</html>