{extend name="user/index"}

{block name="main"}
<form action="/admin/link/save" enctype="multipart/form-data" method="post">
<div class="container" id="'ccc">


    <div class="col-md-6 h2">
        <ul class="list-group h4">
            <li>地址命名:<input type="text" name="name"></li>
            <hr>
            <li>地址路径:<input type="text" name="url"></li>
        </ul>
        <button class="btn btn-danger btn-lg del-btn">添加</button>
    </div>
</div>
</form>
{/block}

{block name="myjs"}{/block}