{extend name='author/index'}
{block name="main"}
<form action="/admin/link/update/id/{$result.id}" method="post">
    <div class="container">
        <div class="col-md-6 h2">
            <ul class="list-group h4">
                <li>地址命名:<input type="text" name="name" value="{$result.name}"></li>
                <hr>
                <li>地址路径:<input type="text" name="url" value="{$result.url}"></li>
            </ul>
            <button class="btn btn-danger btn-lg del-btn">保存</button>
        </div>

    </div>
</form>
{/block}
{block name="myjs"}{/block}