{extend name='author/index'}
{block name="main"}
<form action="/admin/author/update/id/{$result.id}" enctype="multipart/form-data" method="post">
<div class="container">
    <div class="col-md-6 h2">
        <ul class="list-group h4">
            笔名:<input type="text" name="penname" value={$result.penname}>
            <hr>
            电话:<input type="text" name="tel" value={$result.tel}>
            <hr>
            性别:<label><input type="radio" name="sex" value=1 {$result.sex==1?'checked':''}>男</label>
            <label><input type="radio" name="sex" value=2 {$result.sex==2?'checked':''}>女</label>
            <hr>
            状态:<label><input type="radio" name="status" value=1 {$result.status==1?'checked':''}>激活</label>
            <label><input type="radio" name="status" value=2 {$result.status==2?'checked':''}>禁用</label>
            <hr>
            作家等级:<label><input type="radio" name="level" value=1 {$result.level==1?'checked':''}>普通写手</label>
            <label><input type="radio" name="level" value=2 {$result.level==2?'checked':''}>黄金写手</label>
            <label><input type="radio" name="level" value=3 {$result.level==3?'checked':''}>白金写手</label>
        </ul>
    </div>

    <div class="col-md-6 h2">
        <ul class="list-group h4">
            稿费:<input type="text" name="balance" value={$result.balance}>
            <hr>
            已完结小说:<input type="text" name="end-nover" value={$result['endnover']}>
            <hr>
            粉丝数:<input type="text" name="fence" value={$result.fence}>
            <hr>
            连载中小说:<input type="text" name="serial-nover" value={$result['serialnover']}>
            <hr>
            头像:<input type="file" name="icon">
        </ul>
    </div>
    <button class="btn btn-danger btn-lg del-btn">保存</button>

</div>
</form>
{/block}
{block name="myjs"}{/block}
