{extend name='user/index'}
{block name="main"}
<form action="/admin/user/update/id/{$result.id}" enctype="multipart/form-data" method="post">
<div class="container">
    <div class="col-md-6 h2">
        <ul class="list-group h4">
            昵称:<input type="text" name="nickname" value={$result.nickname}>
            <hr>
            电话:<input type="text" name="tel" value={$result.tel}>
            <hr>
            性别:<label><input type="radio" name="sex" value=1 {$result.sex==1?'checked':''}>男</label>
            <label><input type="radio" name="sex" value=2 {$result.sex==2?'checked':''}>女</label>
            <hr>
            状态:<label><input type="radio" name="status" value=1 {$result.status==1?'checked':''}>激活</label>
            <label><input type="radio" name="status" value=2 {$result.status==2?'checked':''}>禁用</label>
            <hr>
            会员等级:<label><input type="radio" name="level" value=1 {$result.level==1?'checked':''}>普通用户</label>
            <label><input type="radio" name="level" value=2 {$result.level==2?'checked':''}>普通会员</label>
            <label><input type="radio" name="level" value=3 {$result.level==3?'checked':''}>高级会员</label>
        </ul>
    </div>

    <div class="col-md-6 h2">
        <ul class="list-group h4">
            余额:<input type="text" name="balance" value={$result.balance}>
            <hr>
            已用金额:<input type="text" name="consumption" value={$result.consumption}>
            <hr>
            月票:<input type="text" name="ticket" value={$result.ticket}>
            <hr>
            收藏书籍数量:<input type="text" name="collection" value={$result.collection}>
            <hr>
            头像:<input type="file" name="icon">
        </ul>
    </div>
    <button class="btn btn-danger btn-lg del-btn">保存</button>

</div>
</form>
{/block}
{block name="myjs"}{/block}
